body{
    width: 100%;
    margin: auto;
}

h1{
    font-family: 'Courier New', 'Courier', 'monospace';
    color: aliceblue;
}

div.container{
    width: 90%;
    margin: auto;
    /* border: 2px solid #333; */
} 

div.header{
    margin: auto;
    background-image: url('images/header.jpg');
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

div.left{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto; /*this is used to put the whole div element in the center*/
}
div.center{
    /* border: 1px solid black; */
    width: 90%;
    text-align: center;
    margin: auto; 
}
div.right{
    /* border: 1px solid black; */
    width: 90%;
    text-align: right;
    /* float: right;  this is used to align the whole div element to the right */
    margin: auto;
}