@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body{
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

div.flex-container {
    display: flex;
    background-color:gold;
    flex-direction: column;
    align-content: space-between;
    width: 700px;
    height: 880px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
  
.flex-container > div {
    width: 85%;
}

div.text1 {
    position: relative;
    font-weight: 500;
    height: 50px;
    right: 4px;
}

div.text1 > div {
    position: absolute;
    bottom: 0;
    right: 2px;
}
div.black {
    background-color: black;
    height: 100px;
}

div.idot {
    width: 100px;
    float: left;
    height: 100px;
    background-color: black;
}

div.ibody {
    width: 70%;
    float: right;
    height: 100px;
    background-color: black;
}

div.text2{
    position: relative;
    height: 300px;
}

div.address {
    position: relative;
    float: left;
    width: 300px;
    font-weight: 500;
    font-size: .5em;
    left: 7px;
    top: 4px;
}

div.oval {
    height: 303px;
    width: 425px;
    background-color: #000;
    position: absolute;
    right: -10px;
    bottom: -50px;
    border-radius: 47%;
}

div.oval::before{
    content: '';
    height: 165px;
    width: 240px;
    background-color: gold;
    position: absolute;
    left: 93px;
    bottom: 43px;
    border-radius: 45.5%;
}

div.date{
    position: relative;
    font-weight: 500;
    height: 100px;
    left: 7px;
}


/* Media Queries */

 @media only screen 
    and (max-width:600px)
 { 
    body{
        top: 0;
        bottom: 0;
        margin: auto;
        /* background-color: green; */
    }

    div.flex-container {
        display: flex;
        background-color:burlywood;
        flex-direction: column;
        align-content: space-between;
        width: calc(700px * .5);
        height: calc(880px * .5);
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        /* margin:0 auto; */
    }

    .flex-container > div {
        /* border: 1px solid black; */
    }
    
    div.text1 {
        position: relative;
        font-weight: 400;
        font-size: .5em;
        height: 30px;
        right: 4px;
    }

    div.black {
        background-color: black;
        height: 50px;
    }

    div.idot {
        width: 50px;
        float: left;
        height: 50px;
        background-color: black;
        /* display: none; */
    }

    div.ibody {
        width: 70%;
        float: right;
        height: 50px;
        background-color: black;
    }

    div.text2{
        height: 150px;
    }

    div.address {
        /* display: none; */
        font-weight: 400;
        font-size: .25em;
    }

    div.oval {
        height: calc(303px * .5);
        width: calc(425px * .5);
        background-color: #000;
        position: absolute;
        right: -10px;
        bottom: -20px;
        border-radius: 47%;
    }
    
    div.oval::before{
        content: '';
        height: calc(165px * .5);
        width: calc(240px * .5);
        background-color:burlywood;
        position: absolute;
        left: 50px;
        bottom: 20px;
        border-radius: 45.5%;
    }

    div.date{
        /* border: 1px solid black; */
        font-weight: 400;
        font-size: .5em;
        height: 50px;
    }

}

@media only screen 
    and (min-width:601px)
    and (max-width:1024px)
 { 

    div.flex-container {
        transform: rotate(90deg);
        }
}
